@import url("https://fonts.googleapis.com/css?family=Irish+Grover:400|Erica+One:400|Italianno:400");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.zhu-ye-mian {
  background: linear-gradient(180deg,
      rgb(198, 255, 221) 24.48%,
      rgb(251, 215, 134) 52.6%,
      rgb(247, 121, 125) 80.64%);
  background-color: rgba(255, 255, 255, 1);
  border: 1px none;
  height: 1280px;
  position: relative;
  width: 1920px;
}

.zhu-ye-mian .text {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}

.text-1 {
  color: #7d7d7d;
  font-family: var(--font-family-italianno);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 532px;
  top: 493px;
  width: 767px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center
