@import url("https://fonts.googleapis.com/css?family=Irish+Grover:400|Erica+One:400|Italianno:400");

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.zhu-ye-mian {
  background: linear-gradient(
    180deg,
    
rgb(198, 255, 221) 24.48%,
    
rgb(251, 215, 134) 52.6%,
    
rgb(247, 121, 125) 80.64%
  );
  background-color: 
rgba(255, 255, 255, 1);
  border: 1px none;
  height: 1280px;
  position: relative;
  width: 1920px;
}

.zhu-ye-mian .text {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
}

.text-1 {
  color: 
#7d7d7d;
  font-family: var(--font-family-italianno);
  font-size: var(--font-size-m);
  font-weight: 400;
  left: 532px;
  top: 493px;
  width: 767px;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-2 {
  height: 100px;
  left: 760px;
  top: 954px;
}

.rectangle-3 {
  background: linear-gradient(
    180deg,
    
rgb(18, 194, 233) 0%,
    
rgb(196, 113, 237) 100%
  );
  border: 10px solid;
  border-color: var(--white);
  border-radius: 54.5px;
  cursor: pointer;
  height: 129px;
  left: 632px;
  position: absolute;
  top: 920px;
  width: 553px;
}

.rectangle-4 {
  background: linear-gradient(
    180deg,
    
rgb(18, 194, 233) 0%,
    
rgb(196, 113, 237) 100%
  );
  border: 10px solid;
  border-color: var(--white);
  border-radius: 54.5px;
  cursor: pointer;
  height: 129px;
  left: 632px;
  position: absolute;
  top: 698px;
  width: 553px;
}

.text-3 {
  left: 760px;
  top: 730px;
}

.title {
  color: 
transparent;
  font-family: var(--font-family-irish_grover);
  font-size: var(--font-size-xxxl);
  font-weight: 400;
  left: 194px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 177px;
  width: 1480px;
}

.span4 {
  color: 
#0084ff;
}

.span1 {
  color: 
#ff7a00;
}

.span3 {
  color: 
#0dd05b;
}

.span0 {
  color: 
#ff0000;
}

.span6 {
  color: var(--black);
}

.span2 {
  color: 
#f9ff00;
}

.span5 {
  color: 
#0500ff;
}

.rectangle-1 {
  height: 172px;
  left: 380px;
  position: absolute;
  top: 215px;
  width: 1128px;
}