@import url("https://fonts.googleapis.com/css?family=Inter:400|Roboto:400|Arimo:400");

@font-face {
  font-family: "SF Pro Display-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("https://fonts.animaapp.com/SFProDisplay-Medium") format("opentype");
}

:root {
  --black: rgba(0, 0, 0, 1);
  --label-colorslc-l-secondary: rgba(60, 60, 67, 0.6);
  --system-backgroundssb-l-primary: rgba(255, 255, 255, 1);

  --font-size-xxs: 11.5px;
  --font-size-xs: 17px;
  --font-size-s: 18px;
  --font-size-m: 36px;

  --font-family-arimo: "Arimo";
  --font-family-inter: "Inter";
  --font-family-microsoft_yahei-regular: "Microsoft YaHei-Regular";
  --font-family-roboto: "Roboto";
  --font-family-sf_pro_display-medium: "SF Pro Display-Medium";
}

.zhu-ye-mian {
  align-items: flex-start;
  background-color: var(--system-backgroundssb-l-primary);
  border: 1px none;
  display: flex;
  height: 1280px;
  width: 1920px;
}

.hidden,
.hidden * {
  pointer-events: none;
  visibility: hidden;
}

.overlap-group {
  height: 300px;
  position: relative;
  width: 1920px;
}

.zhu-ye-mian .text {
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 244px;
}

.text-4 {
  left: 694px;
}

.text-1 {
  left: 100px;
}

.text-3 {
  left: 508px;
}

.x1 {
  height: 299px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 1920px;
}

.text-5 {
  left: 952px;
  width: 205px;
}

.text-2 {
  left: 286px;
}

.image-1 {
  height: 184px;
  left: 497px;
  mix-blend-mode: darken;
  object-fit: cover;
  position: absolute;
  top: 28px;
  width: 860px;
}

.content {
  align-items: center;
  background-color: var(--system-backgroundssb-l-primary);
  border-radius: 2px;
  display: flex;
  gap: 24px;
  height: 48px;
  left: 1271px;
  padding: 12px 16px;
  position: absolute;
  top: 245px;
  width: 370px;
}

.placeholder-label {
  color: var(--label-colorslc-l-secondary);
  flex: 1;
  font-family: var(--font-family-roboto);
  font-size: var(--font-size-xs);
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 22px;
  position: relative;
  white-space: nowrap;
}

.magnifyingglass {
  height: 28px;
  margin-bottom: -2px;
  margin-top: -2px;
  min-width: 28px;
  position: relative;
}

.valign-text-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.magnifyingglass-1 {
  color: var(--label-colorslc-l-secondary);
  font-family: var(--font-family-sf_pro_display-medium);
  font-size: var(--font-size-xxs);
  font-weight: 500;
  height: 28px;
  left: 0;
  letter-spacing: 0;
  line-height: 32.1px;
  position: absolute;
  text-align: center;
  top: -1px;
  white-space: nowrap;
  width: 28px;
}

.rectangle-1 {
  background-color: #d9d9d999;
  height: 70px;
  left: 0;
  position: absolute;
  top: 230px;
  width: 1920px;
}

.text-inter-normal-black-36px {
  color: var(--black);
  font-family: var(--font-family-inter);
  font-size: var(--font-size-m);
  font-weight: 400;
  font-style: normal;
}

.microsoftyahei-regular-normal-white-18px {
  color: var(--system-backgroundssb-l-primary);
  font-family: var(--font-family-microsoft_yahei-regular);
  font-size: var(--font-size-s);
  font-weight: 400;
  font-style: normal;
}
